.ModSearch .item {

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-top: 1px solid var(--item-border-color);
    border-bottom: 1px solid var(--item-border-color);
    margin-top: -1px; // put borders on top of eachother

    img {
        width: 16rem;
        max-width: 30%;
        display: inline-block;
        vertical-align: middle;
    }

    .info {
        width: calc(100% - min(16rem, 30%));
        display: inline-block;
        vertical-align: middle;
    }

    .ellipsis {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}

.ModSearch .item.muted {

    opacity: 0.3;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    img {
        width: calc(1.6em * 16/9);
        height: 1.6em;
        object-fit: scale-down;
    }

}
.ModSearch .item.muted:hover {
    opacity: 1;
}
