.node-field {
    width: 100%;
    position: relative;
    padding: 0px;
    height: var(--input-height);
}

.node-field-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    pointer-events: none;
}

.form-control .node-field-label {
    padding-left: var(--input-horizontal-padding);
    padding-right: var(--input-horizontal-padding);
}

.node-field-value-column {
    width: 60%;
    float: right;
}

.node-field-input {
    background-color: transparent !important;
    border: 0px;
}

.node-field-number:not(.textbox) .node-field-input {
    cursor: ew-resize;
}
